<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div class = col-md-6.mx-auto >
    <div class="notification_main_item_wrapper">
        <div class = form-inline >
            <h5>
            <div class ="notification_main_item">
                <div class = "right_image">
                    <%= image_tag visitor.image_url, size: "50x50" if visitor.image? %>
                </div>
                <div class ="notification_main_item_name">
                    <%= visitor.name %>
                    <%= 'さんが' %>
                </div>
            </div>
            </h5>
            <div class ="notification_main_majimeinn">
                <% case notification.action %>
                <% when 'like' then %>
                    <%= link_to 'あなたの投稿', notification.snkr, data: {"turbolinks" => false}, style: "font-weight: bold;" %>
                    <%= "にいいねしました" %>
                <% when 'update' then %>
                    <% if notification.offer.consent == 'はい' %>
                        <%= link_to 'あなたのオファー', edit_snkr_offer_path(notification.snkr_id,notification.offer_id), data: {"turbolinks" => false}, style: "font-weight: bold;" %>
                        <%= "を承諾しました" %>
                        <%= link_to 'DM一覧へ', rooms_path, data: {"turbolinks" => false}, style: "font-weight: bold;" %>
                
                    <% elsif notification.offer.consent == 'いいえ' %>
                        <%= link_to 'あなたのオファー', edit_snkr_offer_path(notification.snkr_id,notification.offer_id), data: {"turbolinks" => false}, style: "font-weight: bold;" %>
                        <%= "キャンセルされました" %>
                    <% end %>
                <% end %>
            </div>
        </div>
    <div>
</div>
      

<div class = "small.text-muted.text-right unko" >
    <%= time_ago_in_words(notification.created_at).upcase %>
  <hr>
</div>