<%= stylesheet_link_tag "like_index", :media => "all" %>
<h2>いいね一覧</h2>
<%= link_to "スニーカー、一覧に戻る", snkrs_path %>
<div class="likes-container">
<% current_user.liked_snkrs.each do |t| %>
    <div class="likes">
        <div class="likes-image">
            <%= image_tag t.image_url, size: "250x200" if t.image? %>
        </div>
        <%= t.user.name %>
        <br>
        <%= t.name %>
        <br>
        <%= t.size %>
        <%= t.score %>
        <%= t.retailer %>
        <%= t.usage %>
        <br>
        <%= link_to "詳細へ", snkr_path(t.id)  %>
    </div>
<% end %>
