<%= stylesheet_link_tag "snkr.new", :media => "all" %>
<h3>スニーカー編集</h3>
<%= form_for @snkrs do |f| %>
  <div class="field">
    <%= f.label :スニーカー名 %>
    <%= f.text_field :name, placeholder:"商品名（必須 40文字まで)",class: "form__group__name", :size => "50*70" %>
  </div>
  <ul>
    <div class="post_wrapper">
      <label class="lab_flex">
        <div class="post_container" id="POST_CONTAINER">
        <%= f.fields_for :images do |i| %>
          <%= i.file_field :image, multiple: true, name: "images[image][]", id:"post_pre", style:"display:none;" %>
        <% end %>
        </div>
      </label>
    </div>
  </ul>
  <div class="field">
    <%= f.label :点数（100点満点中） %>
    <%= f.text_field :score, :size => 140 %>
  </div>
  <div class="field">
    <%= f.label :購入先 %>
    <%= f.text_field :retailer, :size => 140 %>
  </div>
  <div class="field">
    <%= f.label :使用度（10段階） %>
    <%= f.text_field :usage, :size => 140 %>
  </div>
  <div class="field">
    <%= f.label :サイズ %>
    <%= f.number_field :size, step: "0.5", :size => 140 %>
  </div>
  <%= f.submit "投稿する" %>

<% end %>
<%= button_to "削除する", snkr_path(@snkrs.id), method: :delete %>
  