<%= stylesheet_link_tag "snkr_index", :media => "all" %>
<<<<<<< HEAD
<div class="aaaaaaaaa">
<div class = "snkr_body">
  <div class ="snkr_index_wrapper">
    <div class ="snkr_index_container">
      <div class = "snkr_index_title">
        <h2>スニーカー 一覧</h2>
      </div>
=======


<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
<%= link_to "通知一覧", notifications_path %>




<h3>スニーカーを条件検索</h3>
<%= form_with(scope: :search, url: snkrs_path, method: :get, local: true) do |f| %>
  <div class="field">
    <%= f.label(:name, 'スニーカーを検索') %>
    <%= f.text_field :name, value: @search_params[:name]  %>
 　</div>
  
 <div class="field">
    <%= f.label(:score,'点数範囲') %>
    <%= f.text_field :score_from, value: @search_params[:score_from] %> ~ <%= f.text_field :score_to, value: @search_params[:score_to] %>

  </div>

 <div class="field">
    <%= f.label(:size, 'サイズ') %>
    <%= f.number_field :size, step: "0.5", value: @search_params[:size]  %>
 </div>

 <div class="field">
    <%= f.label(:retailer, '購入先') %>
    <%= f.text_field :retailer, value: @search_params[:retailer]  %>
 </div>

 <div class="field">
    <%= f.label(:usage,'使用度範囲(0~10)') %>
    <%= f.text_field :usage_from, value: @search_params[:usage_from] %> ~ <%= f.text_field :usage_to, value: @search_params[:usage_to] %>
    <%= f.submit %> 
 </div>
 
<% end %>



</br>
<h2>スニーカー、一覧</h2>
<div class="snkrs-container">
  <% @snkrs.each do |t| %>
    <div class="snkrs">
      <div class="snkr-image">
        <div class = snkr-files >
          <% t.images.each do |image| %>
            <%= image_tag image.image.url, class: 'snkr-files__file' %>
          <% end %>
        </div>
      </div>
      <br>
      <%= t.name %>

      <%= link_to "詳細へ", snkr_path(t.id)  %>
>>>>>>> origin/master

      <div class = "snkr_index_search_container">
        <div class = "snkr_serch_title">
          <h2>search.</h2>
        </div>
        <%= form_with(scope: :search, url: snkrs_path, method: :get, local: true) do |f| %>
          <div class = "snkr_index_search_contents">
            <div class="serch">
              <div class="field_item2">
                <p>スニーカーを検索</p>
                <p>点数範囲</p>
                <p>サイズ</p>
                <p>購入先</p>
                <p>使用度範囲</p>
              </div>
              <div class="field_filde">
                <p><%= f.text_field :name, value: @search_params[:name]  %></p>
                <p><%= f.text_field :score_from, placeholder:"（ 0〜100 数字入力)", value: @search_params[:score_from] %> ~ <%= f.text_field :score_to, placeholder:"（ 0〜100 数字入力)", value: @search_params[:score_to] %></p>
                <p><%= f.number_field :size, step: "0.5", placeholder:"（ 0〜10 数字入力)", value: @search_params[:size]  %></p>
                <p><%= f.text_field :retailer, value: @search_params[:retailer]  %></p>
                <p><%= f.text_field :usage_from, placeholder:"（ 0〜10 数字入力)", value: @search_params[:usage_from] %> ~ <%= f.text_field :usage_to, placeholder:"（ 0〜10 数字入力)", value: @search_params[:usage_to] %></p>
              </div>
            </div>
            <div class="field_filde_btn">
              <%= f.submit "検索" , class: 'serch_btn' %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="snkr_index_contents">
        <div class="snkrs_main">
          <% @snkrs.each do |t| %>
            <div class="snkr_img_wrapper">
              <div class = "snkr_img_container">
                <% if t.images.present? %>
                  <%= image_tag t.images[0].image.to_s, size: "250x200"  %> 
                <% end %>
              </div>
              <div class = "snkr_img_contents">
                <div class = "snkr_imag_item">
                  <p>Name：
                  <%= t.name %>
                  </p>
                  <p>Size：
                  <%= t.size %>
                  </p>
                  <%= link_to "詳細へ", snkr_path(t.id), data: {"turbolinks" => false},class:"show_btn"  %>
                  <% if user_signed_in? %>
                    <% if current_user.already_liked?(t) %>
                      <%= link_to snkr_like_path(id: t.id, snkr_id: t.id), method: :delete, data: {"turbolinks" => false} do %>
                        <i class="fas fa-heart"></i><%= t.likes.count %>
                      <% end %>
                    <% else %>
                      <%= link_to snkr_likes_path(id: t.id, snkr_id: t.id), method: :post, data: {"turbolinks" => false} do %>
                        <i class="fas fa-heart"></i><%= t.likes.count %>
                      <% end %>
                    <% end %>
                  <% else %>
                    <i class="fas fa-heart"></i><%= t.likes.count %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
   
  </div>
</div>
</div>

