<<<<<<< HEAD
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<%= stylesheet_link_tag "snkr.new", :media => "all" %>
<div class="snkr_new_wrapper">
  <div class="snkr_new_container">
    <div class = "snkr_new_title">
      <h1>Snkr.Post</h1> 
    </div>
    <%= form_for @snkrs do |f| %>
        <ul>
          <div class="post_wrapper">
            <label class="lab_flex">
              <div class="post_container" id="POST_CONTAINER">
                <%= f.fields_for :images do |i| %>
                  <%= i.file_field :image, multiple: true, name: "images[image][]", id:"post_pre", style:"display:none;" %>
                <% end %>
                <i class="fas fa-camera fa-3x snkr_post_item"></i>
              </div>
            </label>
          </div>
        </ul>
    <div class = "snkr_new_items">
      <div class = "snkr_new_items_sabu">
        <div class="snkr_offer">
          <div class="ofer_new_item">
            <h4>name.</h4>
            <h4>score.</h4>
            <h4>retailer.</h4>
            <h4>usage.</h4>
            <h4>size.</h4>
          </div>
          <div class="ofer_new_item2">
            <p><%= f.text_field :name, placeholder:"商品名（必須 20文字まで)",class: "form__group__name", :size => "40%*40%" %></p>
            <p><%= f.text_field :score, placeholder:"点数（必須 0〜100[数字で入力])", :size => "40%*40%"  %></p>
            <p><%= f.text_field :retailer, placeholder:"購入先（必須 20文字まで)", :size => "40%*40%"  %></p>
            <p><%= f.text_field :usage, placeholder:"使用度（0〜10 数字で入力)", :size => "40%*40%"  %></p>
            <p><%= f.number_field :size, step: "0.5", placeholder:"サイズ (数字で入力)", :size => "40%*80%"  %></p>
          </div>
        </div>
        <div class ="snkr_new_field_btn">
            <%= f.submit "投稿する" , class: 'serch_btn' %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
=======

<%= stylesheet_link_tag "snkr_new", :media => "all" %>
<div class = main>
  <section class = main__block >
    <%= form_with model:@snkrs, local:true do |f| %>
      <h2 class = sell__block__head >
        スニーカーの情報を入力
      </h2>
      <div class = sell__block__form >
        <div class = sell__block__form__upload >
          <h3 class= sell__block__form__upload__head >
            出品画像
            <span class=require> 
              必須
            </span>
          </h3>
          <p> 最大5枚までアップロードできます </p>
          <div class = snkr__drop__box__container >
            <div class = prev-content></div>
            <div class = label-content>
              <label for = "snkr_images_attributes_0_image", class = "label-box", id = "label-box--0"} >
                <pre class = label-box__text-visible >クリックしてファイルをアップロード </pre>
              </label>
            </div>
            <div class = hidden-content>
              <%= f.fields_for :images do |i| %>
                <%= i.file_field :image, class: "hidden-field"%>
                <input class = "hidden-field", type = "file", name = "snkr[images_attributes][1][image]", id = "snkr_images_attributes_1_image" />
                <input class = "hidden-field", type = "file", name = "snkr[images_attributes][2][image]", id = "snkr_images_attributes_2_image" />
                <input class = "hidden-field", type = "file", name = "snkr[images_attributes][3][image]", id = "snkr_images_attributes_3_image" />
                <input class = "hidden-field", type = "file", name = "snkr[images_attributes][4][image]", id = "snkr_images_attributes_4_image" />
              <% end %>
            </div>
        </div>
      </div>
        <div class = sell__block__form__name>
          <div class = form-group__name>
            <label>
              商品名
              <span class = require> 
                必須
              </span>
            </label>
            <div>
              <%= f.text_field :name, placeholder:"商品名（必須 40文字まで)",class: "form__group__name", :size => "80*70" %>
            </div>
          </div>
        </div>

        <div class = sell__block__form__btn>
          <div>
            <%= f.submit "出品する",class: "btn-default__btn-red" %>
          </div>
        </div>
    <% end %>
  </section>
</div>
<%= link_to "スニーカー、一覧に戻る", snkrs_path %>
>>>>>>> origin/master
