<%= stylesheet_link_tag "snkrs.show", :media => "all" %>
<div class="show_wrapper">
    <div class="show_container">
        <div class="show_dis">
            <h3>スニーカー詳細</h3>
            <span>スニーカー名：<%= @snkrs.name %></span>
            <% if user_signed_in? %>
                    <% if current_user.already_liked?(@snkrs) %>
                        <%= link_to snkr_like_path(@snkrs), method: :delete do %>
                            <i class="fas fa-heart"></i><%= @snkrs.likes.count %>
                        <% end %>
                    <% else %>
                        <%= link_to snkr_likes_path(@snkrs), method: :post do %>
                            <i class="fas fa-heart"></i><%= @snkrs.likes.count %>
                        <% end %>
                    <% end %>
                <% else %>
                    <i class="fas fa-heart"></i><%= @snkrs.likes.count %>
                <% end %>
        </div>
        <div class = "img_container">
            <% @snkr_image.each do |t| %>
                <div class="snkr_images">
                    <%= image_tag t.image_url, size: "200x160" ,class:"snkr_image" %>
                </div>
            <% end %>
        </div>
        <div class="show_items">
            <div class="show_item">
                <p>サイズ：
                <%= @snkrs.size %>
                </p>
                <p>点数　：
                <%= @snkrs.score %>
                </p>
                <p>購入先：
                <%= @snkrs.retailer %>
                </p>
                <p>使用度：
                <%= @snkrs.usage %>
                </p>
            </div>
                <% if user_signed_in? && current_user.id == @snkrs.user_id %>
                    <%= link_to "削除する", snkr_path(@snkrs.id),class:"delete_btn", method: :delete, data: {"turbolinks" => false} %>
                <% end %> 
                <% if user_signed_in? && current_user.id != @snkrs.user_id %>
                    <%= link_to "オファーする", new_snkr_offer_path(@snkrs.id), data: {"turbolinks" => false},class:"link_botton" %>
                <% end %> 
                <br>
                <%= link_to "一覧に戻る", snkrs_path, class:"link_botton" %>
                <br>
        </div>
    </div>
</div>