<h1>DM</h1>

  <div class="snkr">
    <div class="snkr-container">
      <p>出品者名
      <%= @snkrsUser.name %>
      </p>
      <p>出品者スニーカー名
      <%= @snkrs.name %>
      </p>
      <div class = "snkr_img_container">
        <%= image_tag @snkrs.images[0].image.to_s, size: "250x200" if @snkrs.images[0].image? %> 
      </div>
      <p>サイズ
      <%= @snkrs.size %>
      </p>
      <p>点数
      <%= @snkrs.score %>
      </p>
      <p>購入先
      <%= @snkrs.retailer %>
      </p>
      <p>使用度
      <%= @snkrs.usage %>
      </p>
    </div>
    <div class="snkr-container">
      <p>オファー投稿者
      <%= @offerUser.name %>
      </p>
      <p>オファースニーカー名
      <%= @offers.name %>
      </p>
      <div class = "snkr_img_container">
        <%= image_tag @offers.images[0].image.to_s, size: "250x200" if @offers.images[0].image? %> 
      </div>
      <p>サイズ
      <%= @offers.size %>
      </p>
      <p>点数
      <%= @offers.score %>
      </p>
      <p>購入先
      <%= @offers.retailer %>
      </p>
      <p>使用度
      <%= @offers.usage %>
      </p>
    </div>
  </div>

<h4>参加者</h4>
<% @entries.each do |e| %>
  <h5><strong><a href="/users/<%= e.user.id %>"><%= e.user.name%>さん</a></strong></h5>
<% end %>

<hr>
<div class ="majimein">
  <div class = "main_container">
    <div class = "right_container">
      <% if @messages.present? %>
        <% @messages.each do |m| %>
            <% if m.user_id == current_user.id %>
              <div class="right_content">
                <div class="righr_item">
                  <div class = "right_message">

                    <div class="message_line">
                      <%= m.content %>
                    </div>

                    <div class = "right_time">
                      <%= m.created_at.to_s(:datetime_jp) %>
                    </div>

                  </div>
                  
                  <div class = "right_image">
                    <%= image_tag m.user.image_url, size: "50x50" if m.user.image? %>
                  </div>
               </div>
              </div>
          <% elsif m.user_id != current_user.id %>
            <div class="left_content">
              <div class="left_item">
                <div class = "left_image">
                    <%= image_tag m.user.image_url, size: "50x50" if m.user.image? %>
                </div>
                <div class = "left_message">
                  <div class="left_message_line">
                    <%= m.content %>
                  </div>

                  <div class = "left_time">
                    <%= m.created_at.to_s(:datetime_jp) %>
                  </div>
                </div>
              </div>
            </div>
          
          <% end %>
      <% end %>
    <% else %>
      <h3 class="text-center">メッセージはまだありません</h3>
    <% end %>
    <div>
  </div>

</div>
<div class="message_btn_container">
    <div class="message_btn">
      <%= form_with(model: [@snkrs, @offers, @message], local: true) do |f| %>
        <%= f.text_field :content, :placeholder => "メッセージを入力して下さい" , :size => 70 %>
        <%= f.hidden_field :room_id, :value => @room.id %>
        <br>
        <%= f.submit "投稿する" %>
      <% end %>
    </div>
</div>

