<div class="dm_show_wrapper">
  <div class="dm_show_container">
    <div class="dm_show_title">
      <h1>DM</h1>
    </div>
    <div class="dm_show_contents">
      <div class="dm_show_contents_snkr">
        <h3>出品者名
        <%= @snkrsUser.name %>
        </h3>
        <h3>出品者スニーカー名
        <%= @snkrs.name %>
        </h3>
        <div class = "snkr_dm_img_container">
          <%= image_tag @snkrs.images[0].image.to_s, size: "250x200" if @snkrs.images[0].image? %> 
        </div>
        <p>サイズ
        <%= @snkrs.size %>
        </p>
        <p>点数
        <%= @snkrs.score %>
        </p>
        <p>購入先
        <%= @snkrs.retailer %>
        </p>
        <p>使用度
        <%= @snkrs.usage %>
        </p>
        <p><%= link_to "詳細へ", edit_snkr_offer_path(@offers.snkr_id, @offers.id), data: {"turbolinks" => false},class:"show_btn"  %><p>
      </div>
      <div class="dm_show_contents_snkr">
        <h3>オファー投稿者
        <%= @offerUser.name %>
        </h3>
        <h3>オファースニーカー名
        <%= @offers.name %>
        </h3>
        <div class = "snkr_dm_img_container">
          <%= image_tag @offers.images[0].image.to_s, size: "250x200" if @offers.images[0].image? %> 
        </div>
        <p>サイズ
        <%= @offers.size %>
        </p>
        <p>点数
        <%= @offers.score %>
        </p>
        <p>購入先
        <%= @offers.retailer %>
        </p>
        <p>使用度
        <%= @offers.usage %>
        </p>
        <p><%= link_to "詳細へ", edit_snkr_offer_path(@offers.snkr_id, @offers.id), data: {"turbolinks" => false},class:"show_btn"  %><p>
      </div>
    </div>
  </div>
<div>



<hr>
<div class ="majimein">
  <div class = "main_container">
    <div class = "right_container">
      <% if @messages.present? %>
        <% @messages.each do |m| %>
            <% if m.user_id == current_user.id %>
              <div class="right_content">
                <div class="righr_item">
                  <div class = "right_message">

                    <div class="message_line">
                      <%= m.content %>
                    </div>

                    <div class = "right_time">
                      <%= m.created_at.to_s(:datetime_jp) %>
                    </div>

                  </div>
                  
                  <div class = "right_image">
                    <%= image_tag m.user.image_url, size: "50x50" if m.user.image? %>
                  </div>
               </div>
              </div>
          <% elsif m.user_id != current_user.id %>
            <div class="left_content">
              <div class="left_item">
                <div class = "left_image">
                    <%= image_tag m.user.image_url, size: "50x50" if m.user.image? %>
                </div>
                <div class = "left_message">
                  <div class="left_message_line">
                    <%= m.content %>
                  </div>

                  <div class = "left_time">
                    <%= m.created_at.to_s(:datetime_jp) %>
                  </div>
                </div>
              </div>
            </div>
          
          <% end %>
      <% end %>
    <% else %>
      <h3 class="text-center">メッセージはまだありません</h3>
    <% end %>
    <div>
  </div>

</div>
<div class="message_btn_container">
    <div class="message_btn">
      <%= form_with(model: [@snkrs, @offers, @message], local: true) do |f| %>
        <%= f.text_field :content, :placeholder => "メッセージを入力して下さい" , :size => 70 %>
        <%= f.hidden_field :room_id, :value => @room.id %>
        <br>
        <%= f.submit "投稿する", class: 'serch_btn' %>
      <% end %>
    </div>
</div>

