<%= stylesheet_link_tag "offer_edit", :media => "all" %>
<div class="show_block">
    <div class="show_wrapper">
        <div class="show_container">
            <div class="show_dis">
                <h3>オファー詳細</h3>
                <h3>（スニーカー投稿者の情報）</h3>
                <span>スニーカー投稿者名：<%= @snkrsUser.name %></span>
                <span>スニーカー名：<%= @snkrs.name %></span>
                <% if user_signed_in? %>
                        <% if current_user.already_liked?(@snkrs) %>
                            <%= link_to snkr_like_path(@snkrs), method: :delete, data: {"turbolinks" => false} do %>
                                <i class="fas fa-heart"></i><%= @snkrs.likes.count %>
                            <% end %>
                        <% else %>
                            <%= link_to snkr_likes_path(@snkrs), method: :post, data: {"turbolinks" => false} do %>
                                <i class="fas fa-heart"></i><%= @snkrs.likes.count %>
                            <% end %>
                        <% end %>
                    <% else %>
                        <i class="fas fa-heart"></i><%= @snkrs.likes.count %>
                    <% end %>
            </div>
            <div class = "img_container">
                <% @snkr_image.each do |t| %>
                    <div class="snkr_images">
                        <%= image_tag t.image_url, size: "200x160" ,class:"snkr_image" %>
                    </div>
                <% end %>
            </div>
            <div class="show_items">
                <div class="show_item">
                    <p>サイズ：
                    <%= @snkrs.size %>
                    </p>
                    <p>点数　：
                    <%= @snkrs.score %>
                    </p>
                    <p>購入先：
                    <%= @snkrs.retailer %>
                    </p>
                    <p>使用度：
                    <%= @snkrs.usage %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

    
        
<div class ="show_block2">
    <div class="show_wrapper">
        <div class="show_container">
            <div class="show_dis">
                <h3>オファー詳細</h3>
                <h3>（オファー投稿者の情報）</h3>
                <span>スニーカー投稿者名：<%= @snkrsUser.name %></span>
                <span>スニーカー名：<%= @offers.name %></span>
            </div>
            <div class = "img_container">
                <% @offer_image.each do |t| %>
                    <div class="snkr_images">
                        <%= image_tag t.image_url, size: "200x160" ,class:"snkr_image" %>
                    </div>
                <% end %>
            </div>
            <div class="show_items">
                <div class="show_item">
                    <p>サイズ：
                    <%= @offers.size %>
                    </p>
                    <p>点数　：
                    <%= @offers.score %>
                    </p>
                    <p>購入先：
                    <%= @offers.retailer %>
                    </p>
                    <p>使用度：
                    <%= @offers.usage %>
                    </p>
                </div>
                <% if @offers.user_id == current_user.id %>
                <%= button_to "このオファーを削除する", snkr_offer_path(@snkrs.id, @offers.id), method: :delete, class:"link_botton" %>
            <% end %>
            <% if @offers.user_id != current_user.id %>
                <% if @offers.consent == 'はい' %> 
                    <div class = "offer_btn_item">
                    <% if @isRoom == true %>
                        <%= link_to "チャットへ", snkr_offer_room_path(@snkrs.id, @offers.id, @roomId), data: {"turbolinks" => false}, class:"link_botton"  %>
                    <% else %>
                        <%= form_with(model: [@snkrs, @offers, @room], local: true) do |g| %>
                            <%= fields_for @entry do |e| %>
                                <%= e.hidden_field :user_id, :value=> @offersUser.id %>
                            <% end %>
                            <%= g.submit "DMを始める", class: 'serch_btn' %>
                        <% end %>
                    <% end %>
                    </div>
                    <%= form_with(model: [@snkrs, @offers], local: true) do |f| %>
                        <p>取り消す際は下の選択肢を（いいえ）にして下さい</p>
                        <%= f.select :consent, [["はい", "はい"], ["いいえ", "いいえ"]], include_blank: "オファーを承諾する" %>  
                        <%= f.submit "承諾する", class: 'serch_btn' %>
                    <% end %>
                <% elsif @offers.consent == 'いいえ' %>               
                <% else %>
                    <%= form_with(model: [@snkrs, @offers], local: true) do |f| %>
                        <p>承諾するとDMのリンクが出ます</p>
                        <%= f.select :consent, [["はい", "はい"], ["いいえ", "いいえ"]], include_blank: "オファーを承諾する" %>  
                        <%= f.submit "承諾する", class: 'serch_btn' %>
                    <% end %>        
                <% end %>
            <% else %>
            <% end %>
                    <br>
                    <%= link_to "一覧に戻る", snkrs_path, data: {"turbolinks" => false}, class:"link_botton" %>
                    <br>
            </div>
        </div>
    </div>
</div>